body {
  width: 600px;
  max-width: 900px;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }
}
.menu {
  background-color: gray;

  padding: 2%;
  margin-bottom: 5px;
  border: solid;
}
.canvas {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  border: solid;
}
.color {
  background: white;

  width: 30px;
  margin-left: 2px;
  border-radius: 2px;
}
.colorbuttons {
  display: grid;
  grid-template-columns: auto auto auto;
}
button {
  margin: 10px;
}
.black {
  background-color: black;
  color: black;
}

.white {
  background-color: white;
  color: white;
}
.blue {
  background-color: blue;
  color: blue;
}
.red {
  background-color: red;
  color: red;
}
.yellow {
  background-color: yellow;
  color: yellow;
}
.green {
  background-color: green;
  color: green;
}
.brown {
  background-color: brown;
  color: brown;
}
.purple {
  background-color: purple;
  color: purple;
}
.dot {
  height: 10px;
  width: 10px;
  padding: 0px;
  margin: 0%;
}
.dot:hover {
  cursor: crosshair;
  background-color: gray;
}
.colorh {
  display: flex;
  margin: 5px;
}
.options {
  margin: 5px;
  padding: 2px;
  border: solid;
  border-color: whitesmoke;
}

#changeIt {
  background-color: blue;
  border: solid yellow;
}
#changeIt:hover {
  background-color: yellow;
  border: solid blue;
}
.warning {
  color: red;
}
#changeColorsection {
  display: none;
}
#sizeBar {
  display: none;
}
#penBar {
  display: none;
}
#hidden {
  display: none;
}
#undo {
  display: none;
}
