.menu {
  background-color: gray;

  padding: 2%;
}
.canvas {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: solid;
}
.color {
  background: white;

  width: 30px;
  margin-left: 2px;
  border-radius: 2px;
}
.colorbuttons {
  display: flex;

  flex: 2 1 auto;
}
button {
  margin: 10px;
}
.black {
  background-color: black;
  color: black;
}

.white {
  background-color: white;
  color: white;
}
.blue {
  background-color: blue;
  color: blue;
}
.red {
  background-color: red;
  color: red;
}
.yellow {
  background-color: yellow;
  color: yellow;
}
.green {
  background-color: green;
  color: green;
}
.brown {
  background-color: brown;
  color: brown;
}
.purple {
  background-color: purple;
  color: purple;
}
.dot {
  height: 10px;
  width: 10px;
  margin: 0%;
}
.dot:hover {
  cursor: crosshair;
  background-color: gray;
}
.colorh {
  display: flex;
  margin: 5px;
}
.options {
  margin: 5px;
  padding: 2px;
  border: solid;
  border-color: whitesmoke;
}

#changeIt {
  background-color: blue;
  border: solid yellow;
}
#changeIt:hover {
  background-color: yellow;
  border: solid blue;
}
.warning {
  color: red;
}
#changeColorsection {
  display: none;
}
